.user-main-wrapper {
    cursor: pointer;
    background-color: #e8e8e8;
    width: 100%;
    display: flex;
    align-items: center;
    color: #000;
    margin-bottom: 10px;
    padding: 10px 0px 10px 10px;
    border-radius: 10px;
}

.avatar {
    margin-right: 5px;
    cursor: pointer;
}

.email {
    font-size: 14px;
}